.main {
  /* background-color: #01020B; */
  width: 100%;
  background-color: #01020b;
}
.reg {
  height: 100vh;
}


.mainLoad {
  height: 100vh;
  background-color: #01020b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h2{
  color: #ff7c7c;
}

.already {
  color: #aaa !important;
  font-weight: 600;
}

@media only screen and (max-width: 800px) {
  .reg {
    height: 120vh;
  }
}