/************************ Navigation CSS **************************/
.logo {
  color: #ff7c7c !important;
  font-weight: 700;
  font-size: 1.8rem;
}
.links {
  color: #fff !important;
  font-weight: 500;
  font-size: 1rem;
  transition: 0.5s ease-in-out;
  padding-right: 2rem !important;
}
.links:hover {
  color: #ff7c7c !important;
}
.navIcon {
  color: #ff7c7c !important;
  font-size: 28px;
}
.welcome p {
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.btn {
  background-color: #ff7c7c;
  color: #fff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 700;
  transition: 0.5s ease-in-out;
}
.btn:hover {
  color: #fff !important;
  background-color: #d35656;
}

/************************ Landing Page CSS **************************/
.leftContainer h1 {
  color: #fff;
  margin-top: 4rem;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.leftContainer img {
  margin-top: 3rem;
}
@media only screen and (max-width: 800px) {
  .leftContainer h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
  }
  .buttn {
    text-align: center;
  }
}

/************************ Features Page CSS **************************/

#features {
  margin: 2rem 0;
  background-color: #fff;
  padding: 2rem 0;
  position: relative;
  transform: skewY(2deg);
}
.feature {
  transform: skewY(-2deg);
}
.header h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #ff7c7c;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
  margin-top: 2rem;
}

.header h1:after,
.header h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ff7c7c;
  border-top: 1px solid #ff7c7c;
  height: 5px;
  background-color: #f8f8f8;
}

.rightDetails{
    text-align: left !important;
}
.rightDetails h3{
    font-weight: 700;
}
.rightDetails p{
    font-weight: 700;
    color: #aaa;
}
.rightContainer{
    margin-bottom: 2rem;
}
.iconContainer{
    text-align: right;
}
.mainIcon{
    color: #ff7c7c;
    border: 2px solid #ff7c7c;
    padding: .5rem;
    font-size: 2.1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 4px 4px 100px 8px rgba(247,153,153,0.75);
-webkit-box-shadow: 4px 4px 100px 8px rgba(247,153,153,0.75);
-moz-box-shadow: 4px 4px 100px 8px rgba(247,153,153,0.75);
}
.mainRight{
  margin-top: 2rem;
}